baseurl = "http://gophers.lt"
languageCode = "en-us"
title = "Go language user group"
copyright = "2014-2016 gophers.lt, all rights reserved."
MetaDataFormat = "yaml"
deploy_date = "somedate"
deploy_user = "someuser"

[Author]
    name = "golang-lt team"
