baseurl = "http://gophers.lt"
languageCode = "en-us"
title = "Golang Lithuania community"
copyright = "2014-2016 golang-lt community, all rights reserved."
MetaDataFormat = "yaml"

[params]
    updatedBy = "golang-lt"
    updatedAt = "2016-03-17T10:14:56+02:00"
