baseurl = "http://gophers.lt"
languageCode = "en-us"
title = "Golang Lithuania community"
copyright = "2014-2016 golang-lt community, all rights reserved."
MetaDataFormat = "yaml"

[Author]
    name = "golang-lt team"
